In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [19]:
import os
root_dir = '/Users/abhishekverma/Desktop/python-env/TrafficCongestion/trafficdb/'

In [31]:
file = os.path.join(root_dir,'info.txt')
column_names=['filename', 'date', 'timestamp', 'direction', 'day/night', 'weather', 'start_frame','num_frames', 'class', 'notes']
df = pd.read_csv(file, sep='\\s+', names=column_names, skiprows=[0,])

In [33]:
df.head()

,filename,date,timestamp,direction,day/night,weather,start_frame,num_frames,class,notes
0,cctv052x2004080516x01638,20040805,16.01638,south,day,overcast,2,53,medium,NaN
1,cctv052x2004080516x01639,20040805,16.01639,south,day,overcast,2,53,medium,NaN
2,cctv052x2004080516x01640,20040805,16.01640,south,day,overcast,2,48,light,NaN
3,cctv052x2004080516x01641,20040805,16.01641,south,day,overcast,2,52,medium,NaN
4,cctv052x2004080516x01642,20040805,16.01642,south,day,overcast,2,51,medium,NaN

In [34]:
df['direction'].unique()

array(['south'], dtype=object)

In [35]:
df['day/night'].unique()

array(['day'], dtype=object)

In [36]:
df['num_frames'].unique()

array([53, 48, 52, 51, 49, 47, 50, 44, 43])

In [37]:
df['class'].unique()

array(['medium', 'light', 'heavy'], dtype=object)

In [ ]:
df['direction'].unique()